html {
  box-sizing: border-box;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

body {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-family: Montserrat, sans-serif;
  color: #141414;
  font-size: 16px;
  line-height: 26px;
}

#header {
  -webkit-text-size-adjust: 100%;
  font-family: Montserrat, sans-serif;
  color: #141414;
  font-size: 16px;
  line-height: 26px;
  box-sizing: border-box;
  display: block;
  height: auto;
  margin-top: 0px;
  padding-top: 160px;
  padding-bottom: 160px;
  background-image: url("https://uploads-ssl.webflow.com/61d1aabff9b9c28e48e263b4/61d1b373f4dde06e1d4b7bca_Header%20Background.svg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: scroll;
}

#about {
  -webkit-text-size-adjust: 100%;
  font-family: Montserrat, sans-serif;
  color: #141414;
  font-size: 16px;
  line-height: 26px;
  box-sizing: border-box;
  display: block;
  margin-top: 80px;
}

#content {
  -webkit-text-size-adjust: 100%;
  font-family: Montserrat, sans-serif;
  color: #141414;
  font-size: 16px;
  line-height: 26px;
  box-sizing: border-box;
  display: block;
  margin-top: 80px;
  margin-bottom: 0px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #00426f;
  background-image: url("https://uploads-ssl.webflow.com/61d1aabff9b9c28e48e263b4/61d1c0224fca5b81291f3c74_Background%20Blur.png");
  background-position: 0px 0px;
  background-size: auto;
}

#services {
  -webkit-text-size-adjust: 100%;
  font-family: Montserrat, sans-serif;
  color: #141414;
  font-size: 16px;
  line-height: 26px;
  box-sizing: border-box;
  display: block;
  margin-top: 80px;
}

#work {
  -webkit-text-size-adjust: 100%;
  font-family: Montserrat, sans-serif;
  color: #141414;
  font-size: 16px;
  line-height: 26px;
  box-sizing: border-box;
  display: block;
  margin-top: 80px;
}

#clients {
  -webkit-text-size-adjust: 100%;
  font-family: Montserrat, sans-serif;
  color: #141414;
  font-size: 16px;
  line-height: 26px;
  box-sizing: border-box;
  display: block;
  margin-top: 80px;
}

.last-cta {
  -webkit-text-size-adjust: 100%;
  font-family: Montserrat, sans-serif;
  color: #141414;
  font-size: 16px;
  line-height: 26px;
  box-sizing: border-box;
  margin-top: 80px;
  background-color: #00426f;
}

#footer {
  -webkit-text-size-adjust: 100%;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 26px;
  box-sizing: border-box;
  display: block;
  margin-top: 0px;
  padding-top: 40px;
  background-color: #001829;
  color: #fff;
}
